#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  kpi_worker-app.service
BindsTo=kobotoolbox.service
After=kobotoolbox.service postgres-app.service redis-app.service mongo-app.service nginx-app.service kpi-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/kpi_worker-app.pid %t/kpi_worker-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/kpi_worker-app.pid  --cidfile %t/kpi_worker-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/kobotoolbox.pod-id --replace -d --name  kpi_worker-app   --volume %S/bin/scripts/wait_for_mongo.bash:/srv/init/wait_for_mongo.bash --volume %S/bin/scripts/wait_for_postgres.bash:/srv/init/wait_for_postgres.bash  --env-file kpi_worker.env --env-file kpi-db.env  ${KPI_IMAGE}  
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/kpi_worker-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP kpi_worker-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/kpi_worker-app.ctr-id
PIDFile=%t/kpi_worker-app.pid
Type=forking

[Install]
WantedBy=default.target
